.cards > ul {
  list-style: none;
  margin: 40px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.cards > ul > li .cards-card-body > p > strong {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.5rem;
}

.cards > ul > li:nth-child(odd) {
  background-color: #006bde;
}

.cards > ul > li:nth-child(odd) .cards-card-body {
  color: #fff;
}

.cards > ul > li:nth-child(even) .cards-card-body > p:nth-child(1) {
  color: #006bde;
}

.cards .cards-card-body {
  margin: 60px;
  order: 1;
}

.cards .cards-card-image {
  line-height: 0;
  order: 2;
  margin-top: -50px;
}

.cards > ul > li img {
  width: 100%;
  object-fit: cover;
}
