.hero-container .hero-wrapper {
  max-width: unset;
  padding: 0;
}

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 40px 24px;
}

.hero > div:nth-child(1) {
  order: 2; /* Moves the first div to the second position */
  margin: 20px 90px 0px 90px;
}

.hero > div:nth-child(2) {
  order: 1; /* Moves the first div to the second position */
  margin: auto;
  margin-bottom: 30px
}

.hero h1 {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  color: #006bde;
  font-size: 92px;
  line-height: 105px;
  line-height: 4rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 40px;
}

.hero picture {
  z-index: -1;
  inset: 0;
  object-fit: cover;
  box-sizing: border-box;
}

.hero img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  max-height: 600px;
}

.hero p {
  color: #424242 !important;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 2.25rem;
  text-align: center;
}

@media (width >= 900px) {
  .hero {
    padding: 40px 32px;
  }
}

@media (width <= 900px) {
  .hero {
    padding: 40px 32px;
  }

  .hero h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: #006bde;
    font-size: 60px;
    line-height: 105px;
    line-height: 4rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 40px;
  }

  .hero > div:nth-child(1) {
    order: 2; /* Moves the first div to the second position */
    margin: 20px 40px 0px 40px;
  }
}